form fieldset
{
	display:inline-block;
}
form label
{
	width: 8em;
	margin-right: 1em;
	float: left;
	text-align: right;
	display: block;
}

form input
{
	width: 15em;
}

#submit
{
	margin-top: 2em;
	float: right;
}

.errorClass
{
	background-color: #CC6666;
}

#errorDiv
{
	color: red;
}

.errorFeedback
{
	visibility: hidden;
}

body
{
	font-family: arial,helvetica;
}