/***************************HEADER**************************************/
header
{
  background-color: #484972;
  height: 40px;
}

header>div>div>a
{
  color: white;
  padding: 8px 0px;
}
.header-right > a
{
  margin-right: 5px;
  float: left;
}
header>div>div>a>span
{
  font-family: verdana,sans-serif;
}
.header-right
{
  float: right;
}
#login{ border-right: 2px solid white; padding-right: 6px; margin-left: 20px;	}
/********************BODY****************************/
body
{
  background-image: url('../what-the-hex.png');
}

#big-title
{
	font-size: 36px;
}

/***********MOVIE_ENTRY*********/
.movie-entry
{
	border-bottom: 1px solid #000;
	margin-bottom: 50px;
	padding-bottom: 25px;
}
.movie-title
{
	font-size: 18px;
	font-weight: bold;
	font-family: verdana,sans-serif;
}
.genre
{
	font-style: italic;
	margin-bottom: 8px;
}
.description
{
	margin-top: 10px;
}