header>div>div>a, header>div>span{color: white; font-size: 18px;}
.header-right > a
{
  margin-right: 5px;
  float: left;
}
.rating>span
{
  font-size: 18px;
  font-style: italic;
  margin-bottom: 20px;
}
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

.rating-stars ul > li.star > i.fa {
  font-size:1.5em;
  color:#ccc;
}

.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
